<h1>Listing candidates</h1>

<%= candidates_table(@candidates, {:include_status => true, :include_source => true, :include_time_served => true, :include_dates => true})  %>

<br />

<%= link_to 'New Candidate', new_candidate_path %>
