<% content_for :for_head do %>
    <script src="http://api.simile-widgets.org/timeline/2.3.1/timeline-api.js?bundle=true" type="text/javascript"></script>
    <script type="application/javascript">
    </script>
<% end %>

<script type="application/javascript">
    $(document).ready(function () {
        var eventSource = new Timeline.DefaultEventSource();

        var bandInfos = [
            Timeline.createBandInfo({
                eventSource: eventSource,
                width: "100%",
                intervalUnit: Timeline.DateTime.<%=@group_by%>,
                intervalPixels: <%= @group_by == 'MONTH' ? 25 : 175 %>
            })
        ];
        tl = Timeline.create(document.getElementById("my-timeline"), bandInfos);

        Timeline.loadJSON("<%= events_candidates_path %>.json?status=<%=@status_list%>", function (json, url) {
            eventSource.loadJSON(json, url)
        });
    });
</script>
<div id="my-timeline" style="height: 2100px; border: 1px solid #aaa"></div>
