<% content_for :for_head do %>
  <%= stylesheet_link_tag "vis-timeline-graph2d.min" %>
  <%= javascript_include_tag "vis-timeline-graph2d.min" %>
<% end %>

<div id="my-timeline"
     class="timeline-container"
     data-events-url="<%= events_candidates_path(format: :json, status: @status_list.join(',')) %>"
     data-height="<%= [@candidates.size * 25, 200].max %>"></div>
