<%= form_tag('/login/attempt_login') do -%>
    <hgroup>
      <h2>Sign in</h2>
      <p>Welcome back to Recruiting on Rails</p>
    </hgroup>

    <label for="username">
      Username
      <%= text_field_tag 'username', params[:username], required: true, autofocus: true %>
    </label>

    <label for="password">
      Password
      <%= password_field_tag 'password', nil, required: true %>
    </label>

    <%= submit_tag 'Log In', class: 'contrast' %>
<% end -%>
