<h1>Reports</h1>
<%= link_to "Team By Year", :controller => 'reports/team_by_year' %>
<br/>
<%= link_to "Cycle Time", :controller => 'reports/cycle_time_report' %>
<br/>
<%= link_to "Candidates By Source", :controller => 'reports/candidates_by_source' %>